<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geek.mapper.MemberMapper">
    <resultMap id="memberMngMap" type="com.geek.model.Member">
        <id column="no" property="memberId" javaType="String" jdbcType="VARCHAR"></id>
        <result column="name" property="memberName" javaType="String" jdbcType="VARCHAR"></result>
        <result column="phone" property="memberPhone" javaType="String" jdbcType="VARCHAR"></result>
        <result column="team" property="memberTeam" javaType="String" jdbcType="VARCHAR"></result>
        <result column="graduation" property="memberGradu" javaType="String" jdbcType="VARCHAR"></result>
        <result column="grade" property="memberGrade" javaType="String" jdbcType="VARCHAR"></result>
        <result column="des" property="memberDesc" javaType="String" jdbcType="VARCHAR"></result>
        <result column="image" property="imagePath" javaType="String" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="memberMap" type="com.geek.model.Member">
        <id column="no" property="memberId" javaType="String" jdbcType="VARCHAR"></id>
        <result column="name" property="memberName" javaType="String" jdbcType="VARCHAR"></result>
        <result column="phone" property="memberPhone" javaType="String" jdbcType="VARCHAR"></result>
        <result column="t_name" property="memberTeam" javaType="String" jdbcType="VARCHAR"></result>
        <result column="graduation" property="memberGradu" javaType="String" jdbcType="VARCHAR"></result>
        <result column="grade" property="memberGrade" javaType="String" jdbcType="VARCHAR"></result>
        <result column="des" property="memberDesc" javaType="String" jdbcType="VARCHAR"></result>
        <result column="image" property="imagePath" javaType="String" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="memberImage" type="com.geek.model.Member">
        <result column="image" property="imagePath" javaType="String" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="team" type="com.geek.model.Team">
        <result property="teamId" column="t_no" jdbcType="VARCHAR" javaType="String"></result>
    </resultMap>

    <insert id="addMember" parameterType="member">
        INSERT INTO
        member(no,name,phone,team,graduation,grade,des,image)
        VALUES
        (#{memberId},#{memberName},#{memberPhone},#{memberTeam},#{memberGradu},#{memberGrade},#{memberDesc},#{imagePath})
    </insert>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM member WHERE no = #{0}
    </delete>

    <delete id="deleteMembers" parameterType="String">
        DELETE FROM member WHERE no IN
        <foreach collection="array" item="memberId" open="(" separator="," close=")">
            #{memberId}
        </foreach>
    </delete>

    <update id="updateMemberId" parameterType="String">
        UPDATE member SET NO = #{1} WHERE NO =#{0}
    </update>

    <update id="updateMember" parameterType="member">
        UPDATE member SET
        name = #{memberName},
        phone = #{memberPhone},
        team = #{memberTeam},
        graduation = #{memberGradu},
        grade = #{memberGrade},
        des = #{memberDesc},
        image = #{imagePath}
        WHERE no = #{memberId}
    </update>

    <select id="findAllMember" resultMap="memberMap">
        SELECT
        no, name ,phone ,t_name ,graduation ,grade,des,image
        FROM member,team
        WHERE member.team = team.t_no
    </select>

    <select id="mngFindAllMember" resultMap="memberMngMap">
        SELECT
        no, name ,phone ,team ,graduation ,grade,des,image
        FROM member
    </select>

    <select id="findMemberByTeam" parameterType="String" resultMap="memberMap">
        SELECT
        no, name ,phone ,team ,graduation ,grade,des,image
        FROM member
        WHERE team = #{0}
    </select>

    <select id="findMember" resultMap="memberMap" parameterType="java.lang.String">
        SELECT
        no, name ,phone ,team ,graduation ,grade,des,image
        FROM member
        WHERE NO  = #{0}
    </select>

    <select id="teamExist" parameterType="String" resultMap="team">
        SELECT t_no AS teamId FROM team WHERE t_no = #{0}
    </select>

    <select id="findImagePaths" parameterType="String" resultType="java.lang.String">
        SELECT image FROM member WHERE no IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>